# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# Ignore subdirectories of the docker/volumes folder (used for persistence)
docker/volumes/**/*
!docker/volumes/**/README.md

# Ignore public folders in web-sales
**/public/*

# Ignore any hidden files/folders (starting with a .)
**/.*

# Lerna json (lerna tool formats this file differently to prettier-standard, add to ignore to avoid constantly reformatting every time we version)
lerna.json

# Can't think why this isn't ignored, but it isn't
package-lock.json

# Don't format the changelog
CHANGELOG.md