// Change the default location where scss generated assets are server from
$govuk-assets-path: '/public/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';

@import "govuk/all";
@import '../assets/sass/rod-licensing/general';
@import '../assets/sass/rod-licensing/address';
@import '../assets/sass/rod-licensing/pricing_summary';
@import '../assets/sass/rod-licensing/table_extras';
