// Change the default location where scss generated assets are server from
$govuk-assets-path: '/public/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';

@import '../node_modules/govuk-frontend/govuk/all';
@import '../assets/sass/rod-licensing/general';
@import '../node_modules/flatpickr/dist/flatpickr';
@import '../assets/sass/rod-licensing/calendar';
