// Change the default location where scss generated assets are server from
$govuk-assets-path: '/public/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';

@import '../node_modules/govuk-frontend/dist/govuk/all';
@import '../assets/sass/rod-licensing/general';
@import '../assets/sass/rod-licensing/address';
@import '../assets/sass/rod-licensing/cookie_banner';
@import '../assets/sass/rod-licensing/pricing_summary';
@import '../assets/sass/rod-licensing/table_extras';
