####################################################################################
# Fulfilment Job
####################################################################################
NODE_ENV=development

# Redis
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# AWS settings
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_S3_ENDPOINT=http://host.docker.internal:4566
AWS_SECRETS_MANAGER_ENDPOINT=http://host.docker.internal:4566

FULFILMENT_S3_BUCKET=fulfilment-audit

# Fulfilment file size
FULFILMENT_FILE_SIZE=5000

# FTP Settings
FULFILMENT_SEND_UNENCRYPTED_FILE=true
FULFILMENT_PGP_PUBLIC_KEY_SECRET_ID=/dev/fsh/local/

# Debug settings
DEBUG=fulfilment:*,-fulfilment:ftp
