####################################################################################
# GAFL Webapp Secret Environment Variables
####################################################################################

GOV_PAY_APIKEY=<insert here>
GOV_PAY_RECURRING_APIKEY=<insert here>
SESSION_COOKIE_PASSWORD=<insert here>
ANALYTICS_PROPERTY_API=<insert here>
