####################################################################################
# GAFL Webapp
####################################################################################
NODE_ENV=development
PORT=3100
CHANNEL=telesales

# Redis
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# Address lookup
ADDRESS_LOOKUP_URL=https://api.os.uk/search/places/v1/postcode
ADDRESS_LOOKUP_KEY=

# Survey
FEEDBACK_URI=https://www.smartsurvey.co.uk/s/0L205/

# GOV.UK Pay
GOV_PAY_API_URL=https://publicapi.payments.service.gov.uk/v1/payments
GOV_PAY_REQUEST_TIMEOUT_MS=10000

# Sales API
SALES_API_URL=http://host.docker.internal:4000

# Debug settings
DEBUG=webapp:*
