####################################################################################
# GAFL Webapp
####################################################################################
NODE_ENV=development

# Redis
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# Address lookup
ADDRESS_LOOKUP_URL=https://api.os.uk/search/places/v1/postcode
ADDRESS_LOOKUP_KEY=

# Survey
FEEDBACK_URI=https://www.smartsurvey.co.uk/s/0L205/

# GOV.UK Pay
GOV_PAY_API_URL=https://publicapi.payments.service.gov.uk/v1/payments
GOV_PAY_HTTPS_REDIRECT=false
GOV_PAY_REQUEST_TIMEOUT_MS=10000
GOV_PAY_RCP_API_URL=https://publicapi.payments.service.gov.uk/v1/agreements

# Sales API
SALES_API_URL=http://host.docker.internal:4000

# Debug settings
DEBUG=webapp:*

# Tracking
# ANALYTICS_PRIMARY_PROPERTY=G-DJMSHRPMW8 // this is the non-prod tracking update as required
# GTM_CONTAINER_ID=GTM-ABC1234

# Error handler feature switch
ERROR_PAGE_ROUTE=false

# Log Analytics switch
ENABLE_ANALYTICS_OPT_IN_DEBUGGING=true

# Recurring payments content
SHOW_CANCELLATION_JOURNEY=true
