####################################################################################
# Notification Job Secret Environment Variables
####################################################################################

# GOV.UK Notify
GOV_NOTIFY_API_KEY=<insert here>
