####################################################################################
# Notification Job
####################################################################################
NODE_ENV=development

# Debug settings
DEBUG=notification:*

# Notification Job feature switch
RUN_NOTIFICATION_JOB=true

# Sales API
SALES_API_URL=http://host.docker.internal:4000
SALES_API_TIMEOUT_MS=120000

# Notification Job start delay for local
NOTIFICATION_JOB_LOCAL_DELAY=30

# Redis (distributed locking)
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# Airbrake
AIRBRAKE_HOST=https://errbit.example.com
AIRBRAKE_PROJECT_KEY=

# GOV.UK Notify template IDs
GOV_NOTIFY_EXPIRY_REMINDER_EMAIL_TEMPLATE_ID=<insert template id>
GOV_NOTIFY_EXPIRED_NOTICE_EMAIL_TEMPLATE_ID=<insert template id>
GOV_NOTIFY_EXPIRY_REMINDER_SMS_TEMPLATE_ID=<insert template id>
GOV_NOTIFY_EXPIRED_NOTICE_SMS_TEMPLATE_ID=<insert template id>
GOV_NOTIFY_EXPIRY_REMINDER_LETTER_TEMPLATE_ID=<insert template id>
GOV_NOTIFY_EXPIRED_NOTICE_LETTER_TEMPLATE_ID=<insert template id>
