####################################################################################
# Payment Mopup Job Secret Environment Variables
####################################################################################

GOV_PAY_APIKEY=<insert here>
GOV_PAY_RECURRING_APIKEY=<insert here>
