####################################################################################
# POCL Job
####################################################################################
NODE_ENV=development

# AWS settings
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_S3_ENDPOINT=http://host.docker.internal:4566
AWS_DYNAMODB_ENDPOINT=http://host.docker.internal:4566
AWS_SECRETS_MANAGER_ENDPOINT=http://host.docker.internal:4566

POCL_S3_BUCKET=pocl-audit

REDIS_HOST=host.docker.internal

# Sales API
SALES_API_URL=http://host.docker.internal:4000
SALES_API_TIMEOUT_MS=120000

# DynamoDB Tables
POCL_FILE_STAGING_TABLE=PoclFileStaging
POCL_RECORD_STAGING_TABLE=PoclRecordStaging

# Debug settings
DEBUG=pocl:*,-pocl:ftp
