####################################################################################
# Recurring Payments Job
####################################################################################
NODE_ENV=development

# Recurring Payments feature switch
RUN_RECURRING_PAYMENTS=true

# Sales API
SALES_API_URL=http://host.docker.internal:4000
SALES_API_TIMEOUT_MS=120000