####################################################################################
# Recurring Payment Job Secret Environment Variables
####################################################################################

# GOV.UK Pay
GOV_PAY_RECURRING_APIKEY=<insert here>
