####################################################################################
# Recurring Payments Job
####################################################################################
NODE_ENV=development

# Recurring Payments feature switch
RUN_RECURRING_PAYMENTS=true

# Sales API
SALES_API_URL=http://host.docker.internal:4000
SALES_API_TIMEOUT_MS=120000

# Recurring Payments start delay for local
RECURRING_PAYMENTS_LOCAL_DELAY=30

# GOV.UK Pay
GOV_PAY_API_URL=https://publicapi.payments.service.gov.uk/v1/payments

# Batch settings
HTTP_BATCH_SIZE=20
HTTP_BATCH_DELAY=1000