####################################################################################
# Recurring Payments Job
####################################################################################
NODE_ENV=development

# Recurring Payments feature switch
RUN_RECURRING_PAYMENTS=true