####################################################################################
# Sales API
####################################################################################
NODE_ENV=development

# Redis settings
REDIS_HOST=host.docker.internal
REDIS_PORT=6379

# AWS settings
AWS_REGION=eu-west-2
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
AWS_SQS_ENDPOINT=http://host.docker.internal:9324
AWS_DYNAMODB_ENDPOINT=http://host.docker.internal:4566

# SQS Queue
TRANSACTION_QUEUE_URL=http://host.docker.internal:9324/queue/TransactionsQueue.fifo

# DynamoDB Tables
TRANSACTION_STAGING_TABLE=TransactionStaging
TRANSACTION_STAGING_HISTORY_TABLE=TransactionStagingHistory
PAYMENT_JOURNALS_TABLE=PaymentJournals

# Debug settings
DEBUG=sales:*,dynamics:*

# GOV.UK Pay
GOV_PAY_REQUEST_TIMEOUT_MS=10000
GOV_PAY_RCP_API_URL=https://publicapi.payments.service.gov.uk/v1/agreements
