####################################################################################
# Sales API Secret Environment Variables
####################################################################################

# Global OAuth Settings
OAUTH_AUTHORITY_HOST_URL=<insert here>
OAUTH_TENANT=<insert here>

# Dynamics instance-specific settings
OAUTH_CLIENT_ID=<insert here>
OAUTH_CLIENT_SECRET=<insert here>
OAUTH_SCOPE=<insert here>

DYNAMICS_API_PATH=<insert here>
DYNAMICS_API_VERSION=<insert here>

# GOV.UK Pay
GOV_PAY_RECURRING_APIKEY=<insert here>