div.flatpickr-calendar {
  font-family: 'GDS Transport', Arial, sans-serif;
  border-radius: 0;
  font-size: 0.9em;
}

div#cal-image-div {
  display: inline-block;
  position: relative;
  top: 18px;
  cursor: pointer;
  border-radius: 0;
}
.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  color: #505a5f;
}
.flatpickr-day {
  color: #505a5f;
  &.nextMonthDay {
    color: #1d70b8;
  }
  &.prevMonthDay {
    color: #1d70b8;
  }
  &.selected {
    color: #fff;
    background: #2d89c9;
    border-color: #2d89c9;
  }
  &.flatpickr-disabled {
    color: #b1b4b6;
  }
}
