div.hidden-area {
  display: none;
}

.panel-white-text {
  color: govuk-colour('white');
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media screen {
  .print-area,
  .print-area * {
    display: none;
  }
}

div.no-border {
  dt,
  dd {
    border-bottom-style: none;
  }
}

.right-align {
  text-align: right;
}

div.initially-hidden {
  display: none;
}

.payment-summary-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.payment-summary {
  margin-top: 30px;
  border-top: 2px solid #1d70b8;
  padding: 15px;
  background-color: #f3f2f1;
}
