div.hidden-area {
  display: none;
}

.panel-white-text {
  color: govuk-colour('white');
}

.contact-scroll {
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

@media print {
  @page {
    // size: A4, this affects the margin in the printer settings
    margin: 0mm;
  }

  .no-print {
    display: none !important;
  }

  .pagebreak {
    page-break-after: always;
    position: relative;
    top: 3cm;
  }

  .pagebreak:last-child {
    page-break-after: auto;
  }

  .govuk-summary-list {
    width: 16cm;
  }

  .govuk-heading-l {
    font-size: 20pt;
  }

  .govuk-body,
  .govuk-summary-list {
    font-size: 14pt;
  }

  .govuk-grid-column-two-thirds {
    width: 100%;
  }

  // general good print practice

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  table,
  figure {
    page-break-inside: avoid;
  }
}

@media screen {
  .print-area,
  .print-area * {
    display: none;
  }
}

.ea-logo {
  width: 192px;
  margin-bottom: 2cm;
}

div.no-border {
  dt,
  dd {
    border-bottom-style: none;
  }
}

.right-align {
  text-align: right;
}

div.initially-hidden {
  display: none;
}

.payment-summary-wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.payment-summary {
  margin-top: 30px;
  border-top: 2px solid #1d70b8;
  padding: 15px;
  background-color: #f3f2f1;
}

.phone-number {
  white-space: nowrap;
}
